<p>This is an explanation of basic terminology you will encounter in your Drupal site. For a more complete list, see the main Drupal.org handbook <a href="http://drupal.org/getting-started/before/terminology">Terminology section</a>.</p>

Block
Content Type
Core
Cron
Module
Node
Path
Taxonomy
Teaser