<p>This section contains articles that discuss the process of upgrading your Drupal installation (Drupal core and contributed modules) as a Drupal site owner.</p>

<p>If you are the maintainer of a contributed module, or if you have a custom module and need to port your code to be compatible with another version of Drupal core, see the updating modules section of the Developer Guide. For information on updating a theme, see Converting a Theme to a Later Drupal Version.</p>

<p>For problems during your site upgrade, please read the project page and, if necessary, post an issue there:</p>

<ul>
  <li>Drupal Core project page</li>
  <li>the project page of the contrib module of interest - like http://drupal.org/project/views - for the Views module for example</li>
  <li>or try the http://drupal.org/support page</li>
</ul>

<p>Drupal 4.7.x and earlier are no longer officially supported and should be upgraded to a supported version. If you are upgrading from 4.7.x to 6.x, it may be necessary to do an interim upgrade to 5.x before upgrading to 6.x</p>

<p>Upgrade instructions for upgrading to a particular version can also be found in the UPGRADE.txt file packaged with your Drupal files.</p>

<p>Also make sure you carefully take note of any special instructions on the page announcing the release of your version (e.g. http://drupal.org/drupal-6.2 for Drupal 6.2). You may also need to check the release pages of earlier versions if you are upgrading by more than one minor version (e.g. from 6.0 to 6.2).</p>

<p>The pages in this section of the site on the upgrade process (especially the sub-section "Introduction to upgrading") provide more detailed/background information on the upgrade process and instructions for some specific situations, and will make most sense if you first read UPGRADE.txt or review one of the following videocasts:</p>

<ul>
  <li>Upgrading from Drupal 5.x to 6.x</li>
  <li>Upgrading to Drupal 5/li>
  <li>Drupal Upgrade Tutorial for upgrading from one version of 6.x to another</li>
</ul>

<p><strong>NOTE: One of the most IMPORTANT things to do BEFORE you upgrade, is to backup your site's files and database.</strong> See this example of an automated backup script, or Drupal's module Backup and Migrate for easy database backups.</p>